<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChromeSuite" parallel="true">
	<listeners>
		<listener class-name="com.colombia.listeners.TestListener" />
	</listeners>

	<parameter name="browser" value="chrome"></parameter>
	<parameter name="driverPath" value="C:\\Users\\irfan\\git\\colombia-project\\drivers\\chromedriver.exe"></parameter>

	<test name="Colombia System Automation Tests">
		<classes>
			<class name="com.colombia.seleniumtests.EaglePortalLoginTest" />
			<class name="com.colombia.seleniumtests.EaglePortalSetUpTest" />
			<!-- <class name="com.colombia.sampletests.Test1" />
			<class name="com.colombia.sampletests.Test2" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
